!!!
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title Dalziel Pascoe Associates
    
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    
  %body
    #container
      #header
        .title Dalziel Pascoe
        .subtitle Associates
        .established Est. 1876
        .tagline Europe's leading financial services agency
        
      %ul#main-menu
        %li HOME
        %li SERVICES
        %li CLIENTS
        %li TEAM
        %li MARKET
        %li CONTACT
        %li= link_to "LOGIN", login_path
        
      %ul.breadcrumbs
        %li Home
        %li About
        %li Company
              
      = yield
      
      #footer
        &copy; 2009 Dalziel Pascoe Associates; DPA and the DPA logo are copyright Dalziel Pascoe and Schlong Incorporated.  All rights reserved